* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    overflow-x: hidden;
}

html {
    font-family: "Inter", sans-serif;
    color: #E4E5EA;
}

body {
    background-color: #0E1014;
    position: relative;
}

.ball-purple-blur {
    position: absolute;
    z-index: -1;
    width: 260px;
    height: 260px;
    left: calc(50% - 130px);
    top: -154px;
    background: #833AB4;
    opacity: 0.5;
    filter: blur(196px);
}

.ball-purple-gradient {
    position: absolute;
    z-index: -1;
    width: 60px;
    height: 60px;
    left: calc(50% + 138px);
    border-radius: 30px;
    top: 0px;
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%);
    box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
    filter: blur(5px);
    backdrop-filter: blur(2px);
}

.ball-red-gradient {
    position: absolute;
    z-index: -1;
    width: 84px;
    height: 84px;
    left: calc(50% - 130px - 84px);
    top: 84px;
    border-radius: 42px;
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%);
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    backdrop-filter: blur(2px);
}

.ball-red-blur {
    position: absolute;
    z-index: -1;
    width: 310px;
    height: 310px;
    left: -105px;
    top: 251px;
    border-radius: 155px;
    background: #961A1A;
    opacity: 0.5;
    filter: blur(196px);
}

.ball-red-gradient-small {
    position: absolute;
    z-index: -1;
    width: 28px;
    height: 28px;
    left: calc(50% + 130px);
    top: 547px;
    border-radius: 14px;
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%);
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    filter: blur(2.5px);
    backdrop-filter: blur(2px);
}

.body-wrap {
    position: relative;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}

.flex {
    display: flex;
}

.flex_align_center {
    align-items: center;
}

.flex_direction_column {
    flex-direction: column;
}

.flex_justify_space-between {
    justify-content: space-between;
}

.grid {
    display: grid;
}

.grid_columns_2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid_gap_30x30 {
    row-gap: 30px;
    column-gap: 30px;
}

.button {
    cursor: pointer;
    font-family: "Inter", sans-serif;
}

.button_size_m {
    padding: 20px 35px;
    font-size: 16px;
}

.button_style_blue {
    background-color: #4077F3;
    border: none;
    font-weight: 500;
    color: #E4E5EA;
}

.header__wrap {
    padding: 46px 15px 0;
}

.header__logo {
    max-width: 165px;
}

.header__logo-img {
    width: 35px;
    height: 24px;
}

.header__logo-title {
    width: 97px;
    height: 15px;
    margin-left: 8px;
}

.header__logo-text {
    margin-top: 10px;
    font-family: "Monserrat", sans-serif;
    font-weight: 300;
    font-size: 10px;
}

.header__nav {
    margin-left: 50px;
}

.header__nav-list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.header__nav-item {
    margin-left: 15px;
    margin-right: 15px;
}

.header__nav-item:nth-child(1) {
    margin-left: 0;
}

.header__nav-item:nth-child(5) {
    margin-right: 0;
}

.header__nav-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: inherit;
}

.header__contacts {
    margin-left: auto;
}

.header__contacts-phone {
    margin-right: 45px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: inherit;
    text-decoration: none;
}

.socials {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.socials__item {
    font-size: 0;
    margin-left: 15px;
    margin-right: 15px;
}

.socials__item:nth-child(1) {
    margin-left: 0;
}

.socials__item:nth-child(3) {
    margin-right: 0;
}

.socials__item_margin_s {
    font-size: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.socials__item-logo {
    width: 20px;
    height: 20px;
}

.main {
    flex: 1 1 auto;
}

.main__wrap {
    padding: 90px 15px 0;
}

.main__intro {
    max-width: 360px;
}

.main__advantages {
    max-width: 330px;
    text-align: right;
}

.intro__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3rem;
    font-weight: 400;
    line-height: 58px;
}

.intro__title_gradient {
    font-weight: 900;
    background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.intro__subtitle {
    margin-top: 30px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.advantages__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.advantages__title_gradient {
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.advantages__list {
    list-style: none;
    margin-top: 40px;
    margin-bottom: 0;
    padding-left: 0;
}

.advantages__item-title {
    flex: 1 0 auto;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.advantages__item-description {
    margin-top: 6px;
    margin-bottom: 0;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.advantages__button {
    margin-top: 60px;
    display: block;
    margin-left: auto;
}

.footer__wrap {
    padding: 55px 20px 15px;
}

.footer__nav-about {
    margin-right: 50px;
}

.footer__nav-menu {
    margin-left: 50px;
}

.footer__nav-title {
    margin-top: 0;
    margin-bottom: 0;
    color: #656566;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.footer__nav-list {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 0;
    padding-left: 0;
}

.footer__nav-list_menu {
    margin-left: 25px;
    margin-right: 25px;
}

.footer__nav-list_menu:nth-child(1) {
    margin-left: 0;
}

.footer__nav-list_menu:nth-child(2) {
    margin-right: 0;
}

.footer__nav-item {
    margin-bottom: 10px;
}

.footer__nav-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: inherit;
}

.footer__contacts {
    margin-left: auto;
    text-align: right;
}

.footer__contacts-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #656566;
}

.footer__contacts-phone {
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: inherit;
}

.footer__socials {
    margin-top: 20px;
    margin-left: auto;
}

.footer__address {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 19px;
}

.footer__notices {
    margin-top: 30px;
    text-align: right;
}

.footer__copyright {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.footer__policy {
    margin-top: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #E4E5EA;
}

@media screen and (max-width: 1280px) {
    .header {
        position: fixed;
        background: #0E1014;
        width: 100%;
    }

    .header__wrap {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .header__content {
        flex-wrap: wrap;
    }

    .header__logo-img {
        display: none;
    }

    .header__logo-title {
        margin-left: 0;
    }

    .header__logo-text {
        display: none;
    }

    .header__nav {
        margin-left: auto;
        margin-right: auto;
        flex: 1 1 auto;
        width: 100%;
        order: 4;
        margin-top: 20px;
    }

    .main__wrap {
        padding-top: 190px;
        padding-bottom: 55px;
    }

    .footer {
        background: #0E1014;
    }
}

@media screen and (max-width: 768px) {
    .main__wrap {
        padding-top: 140px;
    }

    .main__content {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .main__advantages {
        margin-top: 45px;
        text-align: left;
        max-width: 360px;
    }

    .advantages__button {
        margin-left: 0;
    }

    .footer__wrap {
        padding-bottom: 60px;
    }

    .footer__content {
        flex-wrap: wrap;
    }

    .footer__contacts {
        margin-left: 0;
        margin-top: 30px;
        text-align: left;
    }

    .footer__socials {
        margin-left: 0;
    }

    .footer__notices {
        text-align: left;
    }

    .footer__nav {
        flex-wrap: wrap;
    }

    .footer__nav-menu {
        flex: 1 1 auto;
        margin-left: 0;
        margin-top: 30px;
    }
}

@media screen and (max-width: 568px) {
    .header {
        max-height: 55px;
        overflow-y: auto;
    }

    .header__nav-link {
        font-size: 12px;
        text-transform: uppercase;
    }

    .header__nav-item {
        margin-left: 8px;
        margin-right: 8px;
    }

    .header__nav-item:nth-child(1) {
        margin-left: 0;
    }

    .header__nav-item:nth-child(4) {
        margin-right: 0;
    }

    .header__nav-item:nth-child(5) {
        display: none;
    }

    .header__contacts-phone {
        display: none;
    }

    .main__wrap {
        padding-top: 95px;
    }

    .main__content {
        align-items: flex-start;
    }

    .main__intro {
        max-width: 280px;
    }

    .main__advantages {
        max-width: 280px;
    }

    .intro__title {
        font-size: 36px;
        line-height: 44px;
    }

    .intro__subtitle {
        margin-top: 15px;
    }

    .advantages__list {
        margin-top: 20px;
        row-gap: 15px;
        column-gap: 10px;
    }

    .advantages__item-title::before {
        content: url("../img/listStyle.svg");
        display: inline-block;
        vertical-align: 25%;
    }

    .advantages__item-title {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.05em;
    }

    .advantages__item-description {
        display: none;
    }

    .advantages__button {
        display: none;
    }

    .footer__nav-about {
        margin-right: 0;
    }

    .footer__nav-title {
        font-size: 12px;
    }

    .footer__nav-link {
        font-size: 14px;
    }

    .footer__contacts-title {
        font-size: 12px;
    }

    .footer__address {
        font-size: 14px;
    }

    .footer__nav-list_menu {
        flex: 0 1 30%;
    }
}

@media screen and (max-width: 320px) {
    .header__contacts .socials__item {
        margin-left: 5px;
        margin-right: 5px;
    }

    .intro__title {
        font-size: 30px;
        line-height: 40px;
    }
}

@media screen and (max-width: 310px) {
    .header__nav-item:nth-child(4) {
        display: none;
    }
}